<div class="container">
    <div class="row">
        <div class="column text-center">
            <img src="img/bowling.jpg" alt="Dias Utsman", class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Dias Utsman</h1>
            <p class="lead">Student | Developer</p>
        </div>
    </div>
</div>